dist

.nx

# mock service-worker dir for developing pwa functionality
**/dev-dist

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# and https://github.com/github/gitignore for examples

# local env files (followinf dotenv-flow / nextjs convention)

.env.local
.env.*.local

# dependencies
node_modules
.pnp.*

# testing
/coverage
.out/

# Cache
**/tsconfig.tsbuildinfo
**/.eslintcache
.cache/*

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE

.idea
.project
.classpath
*.launch
*.sublime-workspace

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Docker overrides

./docker-compose.override.yml

# Deployment platforms

.vercel

# Cypress test run output
/cypress/videos
/cypress/screenshots